#container {
    border-style: solid;
    border-color: black;
    height: 500px;
    width: 500px;
}

button {
    background-color: blue;
    border-style: dashed;
    color: white;
}

.row {
    border-style: solid;
    border-color: black;
    height: 50px;
    width: 80px;
    margin: 10px;
    
}