#container {
    border-style: solid;
    border-color: black;
    height: 960px;
    width: 960px;   
}

button {
    background-color: blue;
    border-style: dashed;
    color: white;
}

.grid {
    
    height: 50px;
    width: 80px;
    margin: 10px;
    
}
.square {
    border: 1px solid black;
    margin: 2px;
    height: 45px;
    width: 45px;
    display: inline-block;
}

.row {
    margin: 0px;
}